body {
  background-color: #333;
  font-size: 1.25rem;
  line-height: 1.5;
  margin: 1em 1.23em;
}
.container {
  max-width: 960px;
  margin: 0 auto;
}
.page-nav {
  color: #fff;
  margin: 1em 0;
  font-weight: bold;
  font-size: 1.2em;
}
.page-nav a {
  color: #aaa;
  text-decoration: none;
}
.page-nav a:hover {
  color: #ddd;
}
.header {
  margin: 1em 0;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
.header .blog-title .logo {
  color: #fff;
  font-size: 1.5em;
  font-weight: bold;
  font-family: sans-serif, cursive, LiSu;
  text-decoration: none;
}
.header .menu {
  margin: 0;
  padding: 0;
}
.header .menu .menu-item {
  display: inline-block;
  margin-left: 0.5em;
}
.header .menu .menu-item-link {
  color: #fff;
  font-size: 1.5em;
  font-weight: lighter;
  text-decoration: none;
}
.header .menu .menu-item-link:hover {
  font-weight: normal;
}
.post {
  margin: 1.23em auto;
  padding: 1em;
  background-color: #fff;
  color: #666;
}
.post .post-meta {
  color: #aaa;
  font-size: 0.8em;
}
.post .post-title {
  margin-top: 0;
  color: #000;
}
.posts .post:first-child {
  margin-top: 0;
}
.posts .post-title {
  font-size: 1.5em;
}
.posts .post-title .post-title-link {
  color: #000;
  text-decoration: none;
}
.posts .post-content a {
  text-decoration: underline;
}
.posts .post-meta {
  color: #aaa;
}
.archive {
  margin: 1em auto;
  padding: 1em 0 0;
}
.archive .post-archive {
  list-style: none;
  padding: 0;
}
.archive .post-archive .post-item {
  margin: 5px 0;
}
.archive .post-archive .post-item a {
  color: #bbb;
  text-decoration: none;
}
.archive .post-archive .post-item a:hover {
  color: #eee;
}
.archive .post-archive .post-item .post-date {
  display: inline-block;
  margin-right: 10px;
  color: #999;
}
.archive .post-archive .post-item .post-title {
  color: #bbb;
}
