body {
  background-color: #333;
  font-family: sans-serif;
  font-size: 1.25rem;
  line-height: 1.5;
  margin: 1em 1.23em;
}
.container {
  max-width: 960px;
  margin: 0 auto;
}
.page-nav {
  color: #fff;
  margin: 1em 0;
  font-weight: bold;
  font-size: 1.2em;
  letter-spacing: 0.4em;
}
.page-nav a {
  color: #999;
  text-decoration: none;
}
.page-nav a:hover {
  color: #eee;
}
.footer {
  margin: 1.23em 0;
  color: #666;
  font-weight: 300;
  font-size: 0.6em;
}
.footer a {
  color: #777;
  font-weight: 400;
  text-decoration: none;
}
.footer a:hover {
  text-decoration: underline;
}
.header {
  margin: 1em 0;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
.header .blog-title .logo {
  color: #fff;
  font-size: 1.5em;
  font-weight: 700;
  font-family: sans-serif, cursive, LiSu;
  text-decoration: none;
}
.header .menu {
  margin: 0;
  padding: 0;
}
.header .menu .menu-item {
  display: inline-block;
  margin-left: 0.5em;
}
.header .menu .menu-item-link {
  color: #fff;
  font-size: 1.5em;
  font-weight: 300;
  text-decoration: none;
}
.header .menu .menu-item-link:hover {
  font-weight: 500;
}
.post {
  margin: 0 auto;
  padding: 1em;
  background-color: #fff;
  color: #000;
}
.post .post-meta {
  color: #aaa;
  font-size: 0.8em;
}
.post .post-title {
  margin-top: 0;
  color: #999;
  font-size: 1.5em;
}
.post .post-content a {
  color: #888;
  text-decoration: underline;
}
.post .code {
  background: rgba(0,0,0,0.063);
  font-weight: 200;
  color: #222;
  padding: 0em 0.6em;
  border-radius: 0.2em;
  border: 1px solid rgba(0,0,0,0.063);
}
.archive {
  margin: 1em auto;
  padding: 0em 0 0;
}
.archive .post-archive {
  list-style: none;
  padding: 0;
}
.archive .post-archive .post-item {
  margin: 5px 0;
}
.archive .post-archive .post-item a {
  color: #bbb;
  text-decoration: none;
}
.archive .post-archive .post-item a:hover {
  color: #eee;
}
.archive .post-archive .post-item .post-date {
  display: inline-block;
  margin-right: 10px;
  color: #999;
}
.archive .post-archive .post-item .post-title {
  color: #bbb;
}
.postlist .postshort:first-child {
  margin-top: 0;
}
.postlist .postshort {
  margin: 1.23em auto;
  padding: 1em;
  background-color: #fff;
}
.postlist .postshort .post-title {
  font-size: 1.4em;
  margin-top: -0.3em;
  margin-left: -0.2em;
  font-weight: 800;
}
.postlist .postshort .post-title .post-title-link {
  color: #333;
  text-decoration: none;
  cursor: pointer;
}
.postlist .postshort .post-content {
  color: #999;
  font-weight: normal;
  font-size: 1em;
}
.postlist .postshort .post-content a {
  color: #aaa;
  text-decoration: underline;
}
.postlist .postshort .post-meta {
  color: #ccc;
  font-size: 0.8em;
}
.other-apps {
  background-color: #333;
  color: #666;
  font-size: 2rem;
  font-family: monospace;
  line-height: 1.5;
  margin: 1em 1.23em;
}
.other-apps a {
  color: #999;
  text-decoration: none;
}
.other-apps a:hover {
  color: #bbb;
  background: #444;
  text-transform: underline;
}
.other-apps .blog-title {
  margin: 1em 0em;
  color: #aaa;
}
.other-apps .appicon {
  color: #888;
}
