:root {
  --gap-width: 24px;
  --card-base-width: 300px;
  --card-ratio: 1;
  --card-main-width: min(
    calc(100vw - 2 * var(--gap-width)),
    var(--card-base-width)
  );
  --card-main-height: calc(var(--card-ratio) * var(--card-main-width));
  --card-font-size: max(20px, calc(var(--card-main-width) / 10));
}

:root {
  --color-main-bg: #555;
  --color-link: #559;
}

body {
  margin: 0;
  background: var(--color-main-bg);
  /* background: linear-gradient(#eee, #dde); */
}

a {
  color: var(--color-link);
  text-decoration: none;
}

/* a:hover span {
  text-decoration: underline;
} */

#root {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

#main {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  box-sizing: border-box;
  justify-content: left;
  justify-content: center;
  /* width: min-content; */
  max-width: calc(3 * var(--card-main-width) + 4 * var(--gap-width) + 1px);
  /* padding: max(
      calc(2 * var(--gap-width)),
      calc(48vh - 0.5 * var(--card-main-height))
    )
    var(--gap-width); */
  padding: calc(1.6 * var(--gap-width)) var(--gap-width);
}

.card {
  box-sizing: border-box;
  width: var(--card-main-width);
  height: var(--card-main-height);
  flex-basis: var(--card-main-width);
  flex-shrink: 0;
  /* margin: calc(var(--gap-width) / 2); */
  margin: -2px 0 0 -2px;
  color: #333;
  padding: 0.2em;
  /* border-radius: 2px; */
  overflow: scroll;

  font-size: var(--card-font-size);
  font-weight: bold;
  /* line-height: var(--card-font-size); */

  border: 2px solid #222;
  background-color: #ddd;
  position: relative;
  transform: translate(1px, 1px);
}

.card-bg-img {
  position: absolute;
  left: 0;
  top: 0;
  /* bottom: 0; */
  width: 100%;
  /* height: var(--card-main-width); */
  height: 100%;
  z-index: -1;
  background: #ccc;
  /* border-top: 2px solid #222; */
}

/* .card-bg-img:hover {
  opacity: 0.3;
  filter: blur(5px);
} */

/* .card:hover {
  box-shadow: 0 0 0 8px #ffa4;
} */

#card-title {
  color: #fff9;
  background-color: #333;
  padding: 0;
  display: flex;
  justify-content: space-between;
  justify-content: space-evenly;
  /* align-items: center; */
  font-size: calc(var(--card-main-width) / (7 + 2));
  overflow: hidden;
}

#card-title div {
  height: min-content;
}

.card-app {
  color: var(--color-link);
  /* background: linear-gradient(#eee, #dde); */
  background: #fff;
}

.card-app:hover {
  /* border-color: #885; */
  z-index: 100;
}

/* .card-app:hover .card-bg-img {
  border-color: #885;
} */

.card-app .title {
  display: block;
  /* padding: 0 0.2em; */
  background: #fff;
  animation: 10s infinite blink;
}

.card-app:hover .title {
  animation: none;
  opacity: 0.95;
  background: #ffe;
}

.card-b {
  color: #444;
  background-color: #ccc;
}

.card-tail {
  opacity: 0;
  height: 0;
  padding: 0;
  border-top: none;
  border-bottom: none;
}

.card-tail:hover {
  box-shadow: none;
}
.row {
  width: 100%;
}

.type {
  color: #0005;
}

@keyframes blink {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
