@font-face {
    font-family: 'cursed_timer_ulilregular';
    src: url('../fonts/cursedtimerulil-aznm-webfont.eot');
    src: url('../fonts/cursedtimerulil-aznm-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/cursedtimerulil-aznm-webfont.woff2') format('woff2'),
         url('../fonts/cursedtimerulil-aznm-webfont.woff') format('woff'),
         url('../fonts/cursedtimerulil-aznm-webfont.ttf') format('truetype'),
         url('../fonts/cursedtimerulil-aznm-webfont.svg#cursed_timer_ulilregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
    margin: 0;

    height: 100vh;
    width: 100vw;


    background-repeat:no-repeat;
	background-position:center right;
    background-attachment:fixed; 
    background-size: 100% 100%;

}

#myclock {
    display: inline;

    margin: -5.4vh 2.6vh;
    text-align: justify;
    color: #79797962;
    
    font-family: 'cursed_timer_ulilregular', 'Cursed Timer ULiL', monospace;
    font-size: 8vh;

    position:absolute;
    top:0;
    right:0;
    z-index:10;
    vertical-align: top;


}

#clockSun img {
    height: 14vh;
    width: 14vh;

}

#clockMoon img {
    height: 8vh;
    width: 8vh;

}

#clockIsland img {
    height: 4vh;
    width: 4vh;

}

#clockSun {
    position:absolute;
    z-index:3;
}

#clockMoon {
    position:absolute;
    z-index:3;
}

#clockIsland {
    position:absolute;
    z-index:4;
    bottom: 49.2%;

}

#clockSetting {
    display: none;

    padding: 0pt;
    
    height: 460pt;
    width: 460pt;
    

    position: fixed;
    z-index: 20;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    background: #575757;

    border-style: solid;
    border-radius: 2px;
    border-color: #575757;
    border-width: 1px;

    box-shadow: 0pt 0pt 6pt #888888;
}

#clockSetting:target {
    display: block;
}

#clockSettingTopBar {
    position: absolute;
    top: 0;
    height: 20pt;
    width: 460pt;
    background-color: #d4d4d4;
    line-height: 20pt;
}

#clockSettingTopBarTt {
    margin: 0 10pt;
    font-size: 11pt;
}

#clockSettingCloseBt {
    padding: 1pt 3.6pt 1.7pt ;
    height: 14pt;

    position: absolute;
    right: 10pt;
    top: 3pt;

    /* background-color: #f1bca6; */

    line-height: 8pt;

    font-size: 10pt;
}

#clockSettingBody {
    position: absolute;
    top: 20pt;
    height: 420pt;
    width: 440pt;
    background-color: #ebebeb;

    padding: 10pt;

}


#islandDate {
    display: none;

    padding: 10pt;
    /*
    height: 460pt;
    width: 460pt;
    */

    font-family: monospace;
    position: fixed;
    z-index: 19;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    background: #cfcfcf;

    border-style: solid;
    border-radius: 4px;
    border-color: #575757;
    border-width: 1px;

    box-shadow: 0pt 0pt 6pt #888888;

    line-height:20%

    

}

#islandDate:target {
    display: block;
}