body {
    background-color: #333;
    color: #666;
    font-size: 2rem;
    font-family: monospace;
    line-height: 1.5;
    margin: 1em 1.23em;
}

a {
    color: #999;
    text-decoration: none;
}
a:hover {
    color: #bbb;
    background: #444;
    text-transform: underline;
}

.blog-title {
    margin: 1em 0em;
    color: #aaa;
}

.appicon {
    color: #888;
}

.footer {
    margin: 4rem 0;
    color: #666;
    font-family: sans-serif, monospace;
    font-weight: 300;
    font-size: 0.4em;
}

