.other-apps {
    background-color: #333;
    color: #666;
    font-size: 2rem;
    font-family: monospace;
    line-height: 1.5;
    margin: 1em 1.23em;
}
.other-apps a {
    color: #999;
    text-decoration: none;
}
.other-apps a:hover {
    color: #bbb;
    background: #444;
    text-transform: underline;
}
.other-apps .blog-title {
    margin: 1em 0em;
    color: #aaa;
}
.other-apps .appicon {
    color: #888;
}

.footer {
    margin: 1.23em 0;
    color: #666;
    font-weight: 300;
    font-size: 0.6em;
}
.footer a {
    color: #777;
    font-weight: 400;
    text-decoration: none;
}
.footer a:hover {
    text-decoration: underline;
}
